@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --ff-primary: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.header {
  background-color: #425cb3;
  position: sticky;
  top: 0;
  width: 100%;
}
.navigation {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  place-items: center;
  padding: 0em 1em;
  max-width: 1280px;
  margin: 0 auto;
  position: sticky;
}
.logo-link {
  display: flex;
  place-items: center;
}

body > header > nav > div > button {
  display: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto; /*to make sure this goes all the way to the right*/
}
.nav-menu li a {
  padding: 1em;
  text-decoration: none;
  color: white;
}
.nav-menu > li {
  font-size: 1.1rem;
  margin-left: 1em;
  list-style-type: none;
}
@media only screen and (min-width: 767px) {
  .logo-link {
    padding: 0.2em 0;
  }
}

@media only screen and (max-width: 767px) {
  .navigation {
    justify-content: space-between;
    margin: 0 auto;
  }
  .nav-menu {
    position: absolute;
    right: -100%;
    opacity: 0;
    pointer-events: none;
    top: 55px;
    /* Exact height of svg logo. Which determines the height of the header.*/
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    z-index: 9999;
    background-color: #425cb3;
    max-height: 500px;
    overflow-y: scroll; /*to make sure any additional menu options have scroll and not hidden by device's height*/
  }
  body > header > nav > div > button {
    display: block;
    color: transparent;
    background: none;
    border: none;
  }

  .menu-links {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    pointer-events: all;
  }

  body > header > nav > object {
    margin-left: 1.5em; /*making sure the logo object has enough space on the left equal to the navigation's padding */
  }
  .logo {
    padding: 0.25em 0em;
  }
}
