@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-size: 1rem;
  --text-primary: #000000;
  --text-secondary: #415d80;
  --bg-primary: #ffffff;
  --bg-hover: #5f84e1;
  --bg-secondary: #f3f8fd;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Ballet', cursive;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.01);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --spacing: 0.1rem;
  --transition: all 0.1s liner;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.header {
  background-color: #425cb3;
  position: sticky;
  top: 0;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0em 1.5em; /*This is causing problem. */
  max-width: 1280px;
  margin: 0 auto;
  /* height: 6vh; */
}

body > header > nav > div > button {
  display: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto; /*to make sure this goes all the way to the right*/
}
.nav-menu li a {
  padding: 1em;
  text-decoration: none;
  color: white;
}
.nav-menu > li {
  font-size: 1.1rem;
  margin-left: 1em;
  list-style-type: none;
}
.logo {
  padding: 0.25em 0em;
}

@media only screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 63px; /* Exact height of the navigation bar which is logo and it's padding. */
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    transition: 0.5s;
    z-index: 9999;
    background-color: #425cb3;
    max-height: 500px;
    overflow-y: scroll; /*to make sure any additional menu options have scroll and not hidden by device's height*/
  }
  body > header > nav > div > button {
    display: block;
    color: transparent;
    background: none;
    border: none;
  }

  .menu-links {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .nav-menu.active {
    right: 0;
  }
  .navigation {
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
    /* padding-right: 0; */
  }
  body > header > nav > object {
    margin-left: 1.5em; /*making sure the logo object has enough space on the left equal to the navigation's padding */
  }
}
